.detailmain {
    color: #1b1b1b;
    margin-left: 14%;
    margin-top: 20px;
    width: 72%;
}

.fitnessimage6 {
    background-image: url("../../img/dance-workouts-to-try-at-hom.jpg");
    color: #1b1b1b;
    height: 386px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 72%;
}

.homeboxdesctop {
    line-height: 25px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    width: 90%;
}

p {
    font-weight: 600;
}

@media(max-width: 600px) {
    .detailmain {
        color: #1b1b1b;
        margin-left: 9%;
        margin-top: 20px;
        width: 88%;
    }

    .fitnessimage6 {
        background-image: url("../../img/dance-workouts-to-try-at-hom.jpg");
        color: #1b1b1b;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
    }

    .homeboxdesctop {
        line-height: 25px;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 400;
        width: 90%;
    }
}