.navbar {
    border-bottom: 1px solid #dad2d2;
    color: black;
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    margin-left: 10%;
    padding: 1%;
    width: 80%;
}

.active {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.bollywood {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.food {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.fitness {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.hollywood {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.techology {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

@media(max-width: 600px) {
    .navbar {
        font-size: 9px;
    }
}