.main-container {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: -190px;
    width: 70%;
    height: 600px;
}
.first-heading{
    margin-left: 18%;
    margin-top: 5%;
    font-size: 50px;
    color: red;    
}

.container-Image {
    width: 600px;
    height: 300px;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.container-des {
    width: 68%;
    font-weight: 700;
    margin-top: -302px;
    margin-left: 615px;
}

.conatainer-data {
    font-size: 19px;
    margin-left: 46%;
}

.bottom-line {
    height: 1px;
    width: 90%;
    margin-top: 0;
    margin-left: 5%;
    background-color: #9b9494;
    border: 1px solid #a09797;
}

@media(max-width: 600px) {
    .main-container{
        margin-top: 3%;
        margin-left: 10%;
        margin-bottom: -190px;
        width: 70%;
        height: 998px;
    } 
    .first-heading{
        margin-left: 10%;
        margin-top: 5%;
        font-size: 27px;
        color: red;    
    }
    .container-title{
        margin-top: 2%;
        font-size: 15px;
    }
    .container-Image {
        width: 90%;
        height: 144px;
        margin-top: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }
    .container-des {
        width: 100%;
        font-weight: 600;
        font-size: 10px;
        margin-top: 8px;
        margin-left: 0;
    }
    .bottom-line {
        height: 1px;
        width: 70%;
        margin-top: 0;
        margin-left: 10%;
        background-color: #9b9494;
        border: 1px solid #a09797;
    }
}
