.slider {
    width: 500px;
    height: 200px;
    opacity: 0;
}

.top0 {
    width: 100%;
    height: 100%;
}

.current {
    opacity: 0;
    display: hidden;
}

.qoute1 {
    position: absolute;
    color: black;
    top: 23rem;
    left: 5rem;
    display: hidden;
}

@media(max-width: 600px) {
    .slider {
        width: 100%;
        height: 200px;
        opacity: 1;
        position: relative;
        margin-top: 12px;
        margin-bottom: -25px;
        overflow: hidden;
    }

    .slider img {
        border-radius: 5px;
        border: bottom left radius 5px; ;
        width: 98%;
        overflow: hidden;
        margin-left: 2px;
        
    }

    .current {
        opacity: 1;
        position: absolute;
        display: grid;

    }

    .qoute1 {
        position: absolute;
        color: #ffff;
        top: 9rem;
        left: 3rem;
    }
}